@{
    ViewData["Title"] = "Reservas";
}

<div class="container" id="Seleccion">
    <br />
    <div class="col-sm-6">
        <h4>Seleccione la fecha de la reservas requeridas</h4>
    </div>
    <div class="col-sm-3">
        <label for="ini">Desde:</label>
        <input type="date" class="form-control" id="ini">
    </div>
    <div class="col-sm-3">
        <label for="fin">Hasta:</label>
        <input type="date" class="form-control" id="fin">
    </div>
</div>
<br />
<div class="container" id="Tabla">
    <table class="table">
        <tr>
            <th># Reserva</th>
            <th>Llegada</th>
            <th>Salida</th>
            <th>Encargado</th>
            <th>Grupo</th>
            <th>BotonPrint</th>
        </tr>
    </table>
</div>
