@{
    ViewData["Title"] = "Visitantes";
}

<div class="row">
    <br />
    <div class="col-sm-6 col-xs-6">
        <label for="NumReserva"># de Reserva:</label>
    </div>
    <div class="col-sm-6 col-xs-6">
        <button type="button" class="btn btn-default" style="float:right">Regresar</button>
    </div>
</div>
<br />
<div class="container" id="Tabla">
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Firma</th>
            <th>Información Personal</th>
        </tr>
    </table>
</div>